
canvas {
  background:gray;
  max-width:100%;
  max-height:100%;
  border-radius:4px;
  font-size:16px;
  margin-top:1.5em;
}

form {
  line-height:2.5em;
  padding:1em;margin: -1em;
  margin-bottom:1em;
}

body {
  margin:0 auto;
  padding:6vmin 6vmin;
  max-width:35em;
  word-wrap: break-word;
  font-size:16px;
  font-weight:300;
  line-height:160%;
  margin:0;
  max-width:inherit;
}

#title {
  font-weight: 400;
  font-size:150%;
  width:80%;
  max-width:500px;
  margin-bottom:1em;
}

body, input, select, label {
font-weight:300;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.swatch {
  width: 1em; height:1em;
  border-radius:100%;
  margin-top:10px;
  display:inline-block;
  margin-right:0.2em;
  box-shadow:inset 0 0 0 1px rgba(0,0,0,0.2);
}

input, select {
  -webkit-appearance: none;
  background:white;
  border-radius:0;
  border:none;
  min-width:5em;
  padding-top:0;
  background:transparent;
  border-bottom:1px solid rgba(0,0,0,0.3);
  padding:0;
  margin:0;
}

input, select, label {
  height:1.5em;
  line-height:1.5em;
  font-size:16px;
  display:inline-block;

}

input[type="color"] {

	-webkit-appearance: none;
  background:transparent;
  border:0;
  padding:0;
}
input[type=color]::-webkit-color-swatch {
  border: none;
  padding: 0;
	-webkit-appearance: none;

}

input[type=color]::-webkit-color-swatch-wrapper {
    border: 1px solid black;;
    padding: 0;
    margin:0;
    height:1em;
    xwidth:5em;
    -webkit-appearance: none;

}


input#emojiPickker {
  font-family: monospace;
}

input#rows, input#cols {
  width: 2em;
  min-width: 2em;
}

.button {
	background-color: rgba(255,255,255,0.1);
	color: black;
	border-style: none;
	border-radius:1em;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 0px 1em;
  min-width:5em;
  display:inline-block;
  text-align:center;
	text-transform:uppercase;
	font-weight:300;
  margin-right:0.5em;
  text-decoration:none;
  cursor:pointer;
}

.button:hover {
	background-color: rgba(0,0,0,0.9);
	color:white;
	background-color: rgba(0,0,0,0.9);
	color:white;
  box-shadow: 0px 0px 0.25em #0066ff;
}

.button:focus{  
	outline: none;
  box-shadow: 0px 0px 2px #0066ff;
	border-radius:1em;
}

a {
  text-decoration:none;
}

#advanced {
  font-style: oblique;
  opacity:0.6;
}
#advanced-toggle {
  position:fixed;
  bottom:0;
  right:0;
  width:2em;
  height:2em;
  line-height:2em;
  text-align:center;
  cursor:pointer;
}

body.advanced #advanced-toggle::before {
  content: '🥧'
}

#advanced-toggle::before {
  content: '🥧'
}

#advanced-toggle:not(:hover) {
  opacity:0.9;
}
body:not(.advanced) #advanced {
  display:none;
}

body.fullscreen {
  background-color: transparent;
}
body.fullscreen form {
background:white;
}
body.fullscreen canvas{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:-1;
  margin-top:0;
  border-radius:0;
}

body.fullscreen form,
body.fullscreen .button,
body.loading form,
body.loading .button,
body.loading canvas {
  display:none;
}



@media (prefers-color-scheme: dark) {
  body   { background:  #333; color: white; }
  input, select, a, button, .button {color:white;}
  input, select {
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
}