@font-face {
  font-family: 'Noto Color Emoji';
  src: url(/fonts/NotoColorEmoji.ttf);
}

@font-face {
  font-family: 'Noto Emoji';
  src: url(/fonts/NotoEmoji-Regular.ttf);
}


body {
  display:
  flex;
  --background-color:white;
  --deep-background-color:
  rgba(240,240,240,1.0);
  --text-color:black;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color:rgba(80,80,80,1.0);
    --deep-background-color:black;
    --text-color:white;  
  }
}

#emojis, #mixmojis{
  display:
  flex;
  flex-wrap: wrap;
  flex: 1 1 40vh;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  overflow-y: scroll;
  max-height: 100vh;
  /* margin-bottom: 10vmin; */
  padding: 1vh;
  background-color: var(--deep-background-color);
}

#emojis > div, #mixmojis > div {
  display:contents;
}

.emoji {
  font-family: 'Noto Color Emoji';
  font-size:24px;
  cursor:
  default;
  padding:3px;
  width: 10%;
  max-width: 48px;
  /* height:1.25em; */
  display:
  block;
  box-sizing: border-box;
  /* background: var(--background-color); */
  border-radius:10px;
}

.emoji.selected {
  transform:
  scale(2.0);
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
  position: sticky;
  top: 14px;
}
.emoji:hover {
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
}

.mixmoji {
  width:100%;
  width: 20%;
  max-width: 96px;
}

#preview {
  /* position:
  fixed; */
  /* bottom:0; */
  /* left:0; */
  /* right:0; */
  height: 20vmin;
  display: flex;
  justify-content: space-between;
  padding: 4vmin;
  align-items: center;
  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */
  max-height: 92px;
  box-shadow: 0 2px 9px rgba(0,0,0,0.2);
  background-color: var(--background-color);
}

#preview img {
  width:20vmin;
  height:20vmin;
}

#preview img#p1, #preview img#p2 {
    width: 10vmin;
    height: 10vmin;
}